/*
Background gray: #F2F2F2
Primary blue: #0065FC
Secondary blue: #DEEBFF
*/


/* global */

body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0px;
    color: #252525;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.txtBold {
    font-weight: 800;
}

ul li {
    list-style: none;
}


/* Header and Nav */

header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2em;
    justify-content: center;
    padding: 0px 60px 0px 60px;
}

#logo {
    padding: 40px 0px 0px 0px;
    flex-grow: 5;
}

#logo img {
    width: 120px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: stretch;
}


nav a {
    /* border-top: 16px solid white; */
    border-top: 3px solid white;
    color: #252525;
    padding: 16% 20px 0 20px;
    font-size: 17px;
}

nav a.active {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}


#signup {
    font-weight: 800;
    
}

#signup p {
    padding-top: 33px;
    color: #0065FC;
    font-size: 17px;
}

/* Tagline */

#tagline {
    padding: 0px 60px 0px 60px;
}

#tagline h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#tagline p {
    margin-top: 0px;
}


/* Search */



#formRow {
    display: flex;
    flex-direction: row;
    padding: 0px 60px 0px 60px;
}

#formRow p {
    margin: 0px;
    font-size: 18px;
}


.locIcon {
    background-color: #F2F2F2;
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#formRow input {
    padding: 10px 20px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    font-size: 17px;
}

::placeholder {
    color: #252525;
    font-weight: 800;
}

.sButton {
    background-color: #0065FC;
    color: white;
    padding: 10px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 700;
}

.sButton:hover {
    background-color: #0045ab;
    cursor: pointer;
}

/* Filters */
#filters {
    margin: 30px 0 30px 0;
    padding: 0px 60px 0px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter {
    margin-left: 20px;
    border: solid 2px #e8e7e7;
    padding: 0 20px 0 0;
    border-radius: 27px;
    cursor: pointer;
}

.filter:hover > p > i {
    background-color: #0065FC;
    color: #DEEBFF;
}

.filter:hover > .txtBold {
    color: #0065FC;
}

.filter i {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 20px;
    margin: -3px 10px -3px -3px;
    border-radius: 50%;
    font-size: 19px;
}

.filter p {
    margin: 0px;
}

#resInfo {
    padding: 0px 60px 0px 60px;
}

#resInfo i {
    margin-right: 7px;
    color: #0065FC;
    border: solid 1px #f2f2f2;
    border-radius: 50%;
    padding: 3px 8px;
}

/* Accomodations */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 60px 0px 60px;
    gap: 60px;
}


.resHead {
    font-size: 1.3em;
    margin-bottom: 0px;
    margin-left: 20px;
}

.resFoot {
    font-size: 1em;
    margin: 30px 0 20px 20px;
    color: #252525;
}

#accomOuter {
    flex: 2;
    min-width: 700px;
    max-width: 1024px;
    background-color: #f2f2f2;
    border-radius: 20px;
    
    padding: 20px;
}

.accomInner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.accomInner .accomImg {
    background: no-repeat center center;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.accomInner div:nth-child(1) .accomImg {
    background-image: url("../img/aub.jpg");
}

.accomInner div:nth-child(2) .accomImg {
    background-image: url("../img/duport.jpg");
}
.accomInner div:nth-child(3) .accomImg {
    background-image: url("../img/lesmouettes.jpg");
}
.accomInner div:nth-child(4) .accomImg {
    background-image: url("../img/delamer.jpg");
}
.accomInner div:nth-child(5) .accomImg {
    background-image: url("../img/panier.jpg");
}

.accomInner div:nth-child(6) .accomImg {
    background-image: url("../img/amina.jpg");
}

.accom {
    width: 250px;
    height: 200px;
    border: solid 4px white;
    border-radius: 22px;
    margin-top: 30px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 13px rgba(100, 100, 100, 0.4);
}

.accom:hover {
    box-shadow: none;
    border: solid 4px #0065FC;
}

.accomImg {
    height: 130px;
}

.accomInfo {
  background: white;
  height: 70px;
}

.accomInfo h4, .accomInfo p, .accomInfo .stars {
    padding: 10px 0 0 10px;
    margin: 0px;
}

.accomInfo h4 {
    font-size: 17px;
    font-weight: 800;
    padding-top: 7px;

}

.accomInfo p {
    font-size: 14px;
    padding: 4px 0 3px 10px;
}

.accomInfo .fa-star {
    color: #0065FC;
    font-size: 15px;
    margin-right: -3px;
}

/* Poppular Asside */
#popOuter {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    min-width: 390px;
}

#popItems {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px 20px 20px;
    height: 86%;
}

#popIntro {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#popIntro i {
    font-size: 21px;
    margin: 20px 20px 0 0;

}


.popItem {
    height: 140px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: solid 4px white;
    border-radius: 20px;
}

.popImg {
    width: 40%;
    height: 140px;
    background: no-repeat center center;
    background-size: cover;
}

#popItems div:nth-child(1) .popImg {
    background-image: url("../img/morningsun.jpg");
}

#popItems div:nth-child(2) .popImg {
    background-image: url("../img/aucoeurde.jpg");
}

#popItems div:nth-child(3) .popImg {
    background-image: url("../img/toutbleau.jpg");
}

.popInfo {
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
    align-content: space-between;
}

.popInfo h4, .popInfo p, .popInfo .stars {
    margin: 0px;
}

.popInfo h4 {
    padding: 15px 15px 0 15px;
    font-size: 17px;
    font-weight: 800;
}

.popInfo p {
    font-size: 14px;
    padding: 0 15px;
}

.popInfo > .stars {
    padding: 0 0 10px 15px;
}

.popInfo .fa-star {
    color: #0065FC;
    font-size: 15px;
    margin-right: -3px;
}


/* Activities */
#activOuter {
    margin-top: 60px;
    padding: 0px 60px 0px 60px;
   
}

#activInner {
    display: flex;
    flex-direction: column;
    height: 500px;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}

.actItem {
    width: calc(25% - 40px);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 13px rgba(100, 100, 100, 0.4);
}

.actFour {
    height: 440px;
}

#activInner div:nth-child(1) .actImg {
    background: no-repeat center center;
    background-size: cover;
    background-image: url('../img/activities/oldport.jpg');
}

.actFour .actImg {
    height: 390px;
}
#activInner div:nth-child(2) .actImg {
    background: no-repeat center center;
    background-size: cover;
    background-image: url('../img/activities/pomegues.jpg');
}

.actThree {
    height: 260px;
}

#activInner div:nth-child(3) .actImg {
    background: no-repeat center center;
    background-size: cover;
    background-image: url('../img/activities/frioul.jpg');
}

#activInner div:nth-child(4) .actImg {
    background: no-repeat center center;
    background-size: cover;
    background-image: url('../img/activities/calanques.jpg');
}

#activInner div:nth-child(5) .actImg {
    background: no-repeat center center;
    background-size: cover;
    background-image: url('../img/activities/notredame.jpg');
}

#activInner div:nth-child(6) .actImg {
    background: no-repeat center center;
    background-size: cover;
    background-image: url('../img/activities/longchamp.jpg');
}

.actThree .actImg {
    height: 210px;
}

.actTwo {
    height: 200px;
}
.actTwo .actImg {
    height: 150px;
}

.actOne {
    height: 140px;
}
.actOne .actImg {
    height: 90px;
}

#activOuter .resHead {
    margin-left: 0px;
}

.actInfo h4 {
    margin: 0;
    font-size: 17px;
    font-weight: 800;
    padding: 15px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
}


@media only screen and (min-width: 768px) {



}



@media only screen and (min-width: 600px) {



}


/* TODOs:
- Add Flex Properties
- Mobile styling
- tablet styling
- Hovers and  on most popular
