/*
Background gray: #F2F2F2
Primary blue: #0065FC
Secondary blue: #DEEBFF
*/


/* global */

body {
    font-family: 'Raleway', sans-serif;
    padding: 0px 60px 0px 60px;
    margin: 0px;
    color: #252525;
}

a {
    text-decoration: none;
}

.txtBold {
    font-weight: 800;
}


/* Header and Nav */

header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2em;
    justify-content: center;
}

#logo {
    padding: 40px 0px 0px 0px;
    flex-grow: 5;
}

#logo img {
    width: 120px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: stretch;
}


nav a {
    /* border-top: 16px solid white; */
    border-top: 3px solid white;
    color: #252525;
    padding: 16% 20px 0 20px;
    font-size: 17px;
}

nav a.active {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}


#signup {
    font-weight: 800;
    
}

#signup p {
    padding-top: 33px;
    color: #0065FC;
    font-size: 17px;
}

/* Tagline */

#tagline h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#tagline p {
    margin-top: 0px;
}


/* Search */

#search {
    
}

#formRow {
    display: flex;
    flex-direction: row;
}

#formRow p {
    margin: 0px;
    font-size: 18px;
}


.locIcon {
    background-color: #F2F2F2;
    padding: 10px 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#formRow input {
    padding: 10px 20px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    font-size: 17px;
}

::placeholder {
    color: #252525;
    font-weight: 800;
}

.sButton {
    background-color: #0065FC;
    color: white;
    padding: 10px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 700;
}

.sButton:hover {
    background-color: #0045ab;
    cursor: pointer;
}

/* Filters */
#filters {
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter {
    margin-left: 20px;
    border: solid 2px #e8e7e7;
    padding: 0 20px 0 0;
    border-radius: 27px;
}

.filter i {
    color: #0045ab;
    background-color: #DEEBFF;
    padding: 20px;
    margin: -3px 10px -3px -3px;
    border-radius: 50%;
    font-size: 19px;
}

.filter p {
    margin: 0px;
}

#resInfo i {
    margin-right: 7px;
    color: #0045ab;
    border: solid 1px #DEEBFF;
    border-radius: 50%;
    padding: 3px 8px;
}